{% extends "base.html" %}
{% load static %}
{% block title %}Top Chefs{% endblock %}

{% block content %}

<!-- Top Chefs Header -->
<div class="container-fluid text-center mt-4">
    <h1>Top Chefs</h1>
    <p class="lead">Meet the chefs who have published the most recipes.</p>
</div>

<!-- Top Chefs Section -->
<div class="container mt-4">
    <div class="row d-flex">
        {% for chef in top_chefs %}
            <div class="col-md-6 mb-4 d-flex align-items-stretch">
                <div class="card flex-grow-1">
                    <div class="card-body">
                        <h4 class="card-title">{{ chef.username }}</h4>
                        <p class="card-text">Number of Recipes: {{ chef.recipe_count }}</p>
                        <p class="mt-3">Recipes:</p>
                        <ul>
                            {% for recipe in chef.recipes %}
                                <li>{{ recipe.title }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}