{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %} 

{% block content %}

<!-- index.html content starts here -->
<div class="container flex-column pt-3">
    <section class="text-center">
        <h1 class="main-title mx-auto">Yummy Tummy – Delicious Recipes, Happy Bellies!</h1>
  
        <p class="pt-4">
            Your One-Stop Recipe Hub! 🍽️✨ <br><br>
            Discover a world of delicious and healthy recipes crafted for your three main meals – Breakfast, 
            Lunch, and Dinner! Whether you're looking for a nutritious start, a satisfying midday bite, or a 
            comforting evening feast, we've got you covered. Relax, explore, try, and taste new flavors that 
            bring joy to your tummy. <br><br>Let’s make every meal a delightful experience! 😋🥗🍲
        </p>
    </section>

    <div class="row">

        <!-- Recipes Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipe_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="author">Chef: {{ recipe.author }}</p>
                                </div>
                            </div>
                            <a href="#" class="recipe-link">
                                <h2 class="card-title">{{ recipe.title }}</h2>
                                <img src="{{ recipe.featured_image.url }}" class="card-img-top mt-3" alt="{{ recipe.title }}">
                            </a>

                            <hr />
                            <p class="card-text text-muted h6">{{ recipe.created_on}}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}