{% extends "base.html" %}

{% block title %}Recipe Detail - {{recipe.title}}{% endblock %}

{% block content %} 
    <div class="container mt-4">
        <div class="card mb-4">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ recipe.featured_image.url }}" alt="{{ recipe.title }}" class="recipe-pic">
                </div>
                <div class="col-md-8">    
                    <div class="card-body">
                        <h1 class="card-title">{{ recipe.title }}</h1><br>
                        <p class="card-text">Posted by {{recipe.author}}</p>
                        <hr>
                        <p class="card-text">{{recipe.description|safe}}</p>
                        <p class="card-text"><strong>Meal Type: </strong> {{ recipe.meal_type|title }}</p>
                    </div>
                </div>
            </div>
        </div>   
        
        <div class="card mb-4">
            <div class="ingredients card-body">
                <h2>Ingredients</h2>
                <p>{{ recipe.ingredients|safe }}</p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="instructions card-body">
                <h2>Instructions</h2>
                <p>{{ recipe.steps|safe }}</p>
            </div>
        </div>
    </div>

    <!--Review -->

    <!-- Displaying count of comments -->
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
  
    <!-- Displaying Comments -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Reviews:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="p-2 comments
                    {% if not comment.approved and comment.author == user %} faded{% elif not comment.approved %} d-none{% endif %}">
                    <p class="font-weight-bold">  
                        {{ comment.author }}
                        <span class="font-weight-normal">{{ comment.created_on }}</span> wrote:
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.body | linebreaks }}
                        <div class="rating">
                            {% for i in "12345" %}
                                {% if i|add:"0" <= comment.rating %}
                                    <i class="fas fa-star"></i>
                                {% else %}
                                    <i class="far fa-star"></i>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    {% if not comment.approved and comment.author == user %}
                    <p class="approval">
                        This review is awaiting approval
                    </p>
                    {% endif %}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

<!-- index.html content ends here -->
