{% extends "base.html" %}

{% block title %}Recipe Detail - {{recipe.title}}{% endblock %}

{% block content %} 
    <div class="container mt-4">
        <div class="card mb-4">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ recipe.featured_image.url }}" alt="{{ recipe.title }}" class="recipe-pic">
                </div>
                <div class="col-md-8">    
                    <div class="card-body">
                        <h1 class="card-title">{{ recipe.title }}</h1><br>
                        <p class="card-text">Posted by {{recipe.author}} on {{recipe.created_on}}</p>
                        <hr>
                        <p class="card-text">{{recipe.description|safe}}</p>
                        <p class="card-text"><strong>Meal Type: </strong> {{ recipe.meal_type|title }}</p>
                </div>
            </div>
        </div>   
        
        <div class="card mb-4">
            <div class="ingredients card-body">
                <h2>Ingredients</h2>
                <p>{{ recipe.ingredients|safe }}</p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="instructions card-body">
                <h2>Instructions</h2>
                <p>{{ recipe.steps|safe }}</p>
            </div>
        </div>
    </div>
    
{% endblock %}

<!-- index.html content ends here -->
