/* Global Styles */
:root {
    /** Fonts */
    --title: 'EB Garamond', serif;
    --main-font: 'Roboto', serif;

    /* Utils */
    --smal-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;
}

/* Body */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

/* Navbar */
.navbar {
    background-color: #343a40; /* Change this to your desired background color */
    color: #ffffff; /* Change this to your desired text color */
    box-shadow: var(--smal-box-shadow);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

.navbar-custom {
    color: #3B2F2F;
}

.navbar-nav nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    color: #BC2C1A;
}

.navbar-nav .nav-item a {
    color: #ffffff; /* Change this to your desired link color */
}

.navbar-nav .nav-item a:hover {
    color: #f8f9fa; /* Change this to your desired hover color */
}
