/* Global Styles */
:root {
    /** Fonts */
    --title: 'EB Garamond', serif;
    --main-font: 'Roboto', serif;

    /* Utils */
    --smal-box-shadow: 1px -1px 5px 0 #2C0703;
    --border: 1px solid #2C0703;
}

/* Body */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
    color: #2C0703;
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
    
}

/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: var(--smal-box-shadow);
    font-weight: bold;
    font-size: 1.2rem;
}

/* Navbar Links */
.navbar a {
    color: #000;
    text-decoration: none;
    padding: 1rem;
}

/* Navbar Links Hover */
.navbar a:hover {
    cursor: pointer;
    color: #000;
}

/* Navbar Links Active Hover */
.navbar a.active:hover {
    color: #000;
    
}

.dropdown-menu {
    background-color: #F9B114;
}

/* Footer */
footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
    position: sticky;
    bottom: 0;
    width: 100%;
}

/* Recipes */

.recipes {
    text-decoration: none;
    color: #000;
}

.recipes:hover {
    cursor: pointer;
}

.recipe-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-container {
    display: flex;
    flex-direction: column;
}

.ingredients, .instructions, .recipe-detail {
    width: 100%;
}

.recipe-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-pic {
    width: 100%;
    border-radius: 5px;
    box-shadow: var(--smal-box-shadow);
    border-bottom: 4px solid #2C0703;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Card Styling for Menu or Recipes */
.card {
    border-radius: 8px;
    box-shadow: var(--smal-box-shadow);
    overflow: hidden;
    margin-bottom: 20px;
}

.card-img {
    width: 100%;
    border-bottom: 4px solid #2C0703;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    background-color: #F9B114;
    color: #000;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    justify-content: center;
    display: flex;
    align-self: auto;
}

.card-text {
    font-size: 1.2rem;
    color: #000;
}


/* Login */
.form-container {
    width: 100%;
    max-width: 800px; /* Set a maximum width for the form container */
    margin: 3% auto;
    padding: 20px;
    box-shadow: var(--smal-box-shadow);
    border-radius: 8px;
    border: 1px solid #ccc; /* Add a border around the form container */
    background-color: #F5F2F2; /* Set a background color for the form container */
}

.btn-signin {
    background-color: #F9B114;
    color: #000;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 8px;
}

/* Register */
.register-form {
    width: 100%;
    max-width: 800px; /* Set a maximum width for the form container */
    margin: 3% auto;
    padding: 20px;
    box-shadow: var(--smal-box-shadow);
    border-radius: 8px;
    border: 1px solid #ccc; /* Add a border around the form container */
    background-color: #F5F2F2; /* Set a background color for the form container */
}

.btn-signup {
    background-color: #F9B114;
    color: #000;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 8px;
}

/* Signout */
.btn-signout {
    background-color: #F9B114;
    color: #000;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 8px;
}

/* Star Rating */
.rating {
    display: flex;
    align-items: center;
}

.rating .fa-star {
    color: #F9B114; /* Gold color for filled stars */
    margin-right: 5px;
}

.rating .fa-star.far {
    color: #ccc; /* Light grey color for empty stars */
}


/* Approvals */
.approval {
    color: #F9B114;
    font-weight: bold;
    font-style: italic;
    }



